.div {
    margin-bottom: 1px;
  }
  label {
    display: inline-block;
  

    margin: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
    width: 180px;
    text-align: left;
    text-shadow: 0cap;
    // text-align: smaller;
  
  }
  input{
    margin-left: 24px;
 
 
}
.card-group{
   text-align: center;

}
