:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}
@media screen and (max-width: 992px) {

  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
    margin-left: -6px;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    height: 100%;
  }
}

/*
 * Off Canvas wider at sm breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 34em) {
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -45%;
  }

  .row-offcanvas-left.active {
    left: 45%;
    margin-left: -6px;
  }
  
  .sidebar-offcanvas {
    width: 45%;
  }
}

.card {
    overflow:hidden;
}

.card-body .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}

.card-body .rotate i {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    left: 0;
    left: auto;
    right: -10px;
    bottom: 0;
    display: block;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
}

.card {
  background-color: #add8e5;
  width: 200px;
  padding: 20px;
  color: #1b3e59;
  border-radius: 15px;
  box-shadow: 8px 8px 16px 2px #1b3e59
}

/*------------------------------------*\
  #MIXINS
\*------------------------------------*/

//Flex-box
@mixin flex($disp: flex, $dir: null, $wrap: null, $just: null, $align: null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  align-items: $align;
}

/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/
//COLORS
$dark-purple: #4d4c72;
$purple: #7477bf;
$grey: #828282;
$light-grey: #d1d1d1;
$pal-grey: #eeeeee;
$light-white: #fbfbfb;
$green: #81c98f;

//BREAKPOINTS
$brkpoint-md: 768px;
$brkpoint-lg: 1024px;

/*------------------------------------*\
  #ANIMATIONS
\*------------------------------------*/


//From Notification folder
@keyframes removed-item-alert {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  to {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}

//From Buttons folder
@keyframes removed-item-bell {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  30% {
    opacity: 1;
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -o-transform: translateX(50px);
    transform: translateX(50px);
  }

  80% {
    opacity: 1;
    -webkit-transform: translateX(-800px);
    -ms-transform: translateX(-800px);
    -moz-transform: translateX(-800px);
    -o-transform: translateX(-800px);
    transform: translateX(-800px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-800px);
    -ms-transform: translateX(-800px);
    -moz-transform: translateX(-800px);
    -o-transform: translateX(-800px);
    transform: translateX(-800px);
  }
}

.bg{

 background-color: #add8e5;
  width: 100%;
  padding: 20px;
  color: #1b3e59;
  border-radius: 15px;
  box-shadow: 8px 8px 16px 2px #1b3e59
}
